#homeHeader {
  background-color: rgb(25, 195, 218);
  width: 100%;
  height: auto;
}

#myNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
  margin: 5px 10px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.menu a:hover {
  background-color: white;
  color: rebeccapurple;
  padding: 5px;
  border-radius: 5px;
}

/* Hamburger button hidden on desktop */
.hamburger {
  font-size: 26px;
  color: white;
  cursor: pointer;
  display: none;
}

#visionTable,
#visionTable tr,
#visionTable td {
  border: 1px solid rgb(228, 15, 210);
  border-collapse: collapse;
}
.contactTable {
  width: 100%;
}
.contactTable,
.contactTable tr,
.contactTable td {
  border: 1px solid rgb(192, 219, 41);
  border-collapse: collapse;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background: rgb(209, 89, 163);
    padding: 10px 0;
  }

  .menu.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  #myNav {
    flex-direction: row;
  }

  .menu li {
    text-align: center;
    margin: 10px 0;
  }
}

#container {
  background-color: rgb(177, 230, 205);

  width: 100%;
  height: 90vh;
}

#homeContainer {
  width: 100%;
  height: 90vh;
}
